Repository RocketSurgeonsGuild/actions: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

try and fix actions
  .github/workflows/close-milestone.yml
  .github/workflows/close-milestone6.yml
  .github/workflows/draft-release.yml
  .github/workflows/draft-release6.yml
  .github/workflows/update-milestone.yml
  .github/workflows/update-milestone6.yml
Due: prettier --write

version tracking for gitversion
  .github/renovate.json
  .github/workflows/close-milestone6.yml
  .github/workflows/draft-release6.yml
  .github/workflows/update-milestone6.yml
Due: prettier --write

config
  .editorconfig
  .github/renovate.json
Due: prettier --write

updates
  .editorconfig
  .github/workflows/draft-release.yml
  .github/workflows/draft-release6.yml
  .github/workflows/sync-labels.yml
  .github/workflows/test.yml
Due: prettier --write

adding merge queue
  .github/workflows/dependabot-merge-queue.yml
Due: prettier --write

updated merge queue
  .github/workflows/dependabot-merge-queue.yml
Due: prettier --write

adding merge queue?
  .github/workflows/dependabot-merge-queue.yml
Due: prettier --write

ugh
  .github/workflows/dependabot-merge-queue.yml
Due: prettier --write

feature: add label mapping configuration
  auto-label/__tests__/ensure-label.test.ts
  auto-label/action.yml
  auto-label/src/ensure-label.ts
  auto-label/src/main.ts
Due: eslint --fix, prettier --write

chore: rebuild auto-label dist bundle
  auto-label/dist/index.js
Due: eslint --fix, prettier --write

docs: add auto-label usage documentation
  auto-label/README.md
Due: none

feature: add label mapping to auto-label (#1800)
  auto-label/README.md
  auto-label/__tests__/ensure-label.test.ts
  auto-label/action.yml
  auto-label/dist/index.js
  auto-label/src/ensure-label.ts
  auto-label/src/main.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx}
  prettier --write: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,yml,yaml})
